
#menu_semanal img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
#menu_semanal{
    padding: 1%;
    margin: 0.5%;
    border-style: dotted;
    width: 100%;
}
#menu_semanal > h1{
    font-size: 50px;
}
#menu_semanal > h3{
    font-size: 30px;
}

#carta{
    margin-top: 10%;
    display:grid;
}
#carta > h2{
    font-size: 100px;
    text-align: center;
}
#carta > h4{
    font-size: 40px;
    text-align: center;
}
#carta img{
    width: 400px;
    height: 300px;
    border-radius: 20%;
    margin: 1px;
    float: left;
    border-style: solid; 
    border-width: 3px;
    border-color: red; 
}
.column{
    display:inline;
    margin-bottom: 5%;
}
.column > p{   
    text-align: justify;
    margin: 10px;    
    padding: 1%;
    font-size: 25px;
    display:flexbox;  
    vertical-align:baseline; 
}