.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; 
    height: 650px;
    margin: 20px;
    margin-top: 5px;
    border-radius: 10px;  
    padding-top: 30px;
    border-style: solid; 
    border-width: 3px;
    border-color: red; 
    padding-left: 40px;
}
input, textarea, select{
    border-radius: 3px;
    border: 1px solid red;
}
.botones{
    display: flex;
    justify-content: right;
}
#atras, #siguiente{
    position: relative;
    width: 30%;
    font-size: 16px;
    margin: 2px 4px;
    padding: 3px 5px;
}
#img_plato{
    border: none;
}
#atras:hover, #siguiente:hover{
    color:#f54a06;
}
.contenido h1{
    font-size: 39px;  
    text-align:left; 
    padding-bottom: 20px; 
    color: black;
}
  
.contenido h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: black;   
}
/*Esconder todas las páginas del formulario por defecto*/
.pag{
    display: none;
}
/*Círculos para las páginas del formulario*/
.step{
    width: 15px;
    height: auto;
    margin: 0 2px;
    background-color: grey;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}
.step.active{
    opacity: 1;
}