
#menu_semanal img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
#carta img{
    width: 300px;
    height: 300px;
    border-radius: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    float: left;
}
#menu_semanal{
    padding: 1%;
    margin: 0.5%;
    border-style: dotted;
    width: 100%;
}
.semana{
    display: flex;
    justify-content: space-around;
}
#menu_semanal > h1{
    font-size: 50px;
}
#menu_semanal > h3{
    font-size: 30px;
}
#carta{
    margin-top: 3%;
    display:grid;
}
#carta > h2{
    font-size: 50px;
}
#carta > h4{
    font-size: 20px;
}
.column > p{
    justify-content:center;
    margin-left: 10%;
    padding: 1%;
    font-size: 25px;
    display:flexbox;
}