*{
    padding: 0px;
    margin: 0px;
}
.marco_principal{
    background-color: white;
}
.barra_navegacion{
    background-color: red;
    width: 90%;
    height: 50px;
    margin: 20px auto;
    margin-left: 5%;
    margin-right: 5%;
    display:inline-flex;
}
.barra_navegacion ul{
    list-style: none;
}
.navegacion > li{
    position: relative;
    display: inline-block;
}
.navegacion > li > a{
    display: block;
    padding: 5px 30px;
    color: white;
    text-decoration: none;
}
.navegacion li a:hover{
    background-color: palevioletred;
    transition: all .3s;
}
/*Submenus*/
.submenu_inicio, .submenu{
    position: absolute;
    width: 180%;
    text-align: center;
    background-color: red;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s;
}
.submenu_inicio li a, .submenu li a{
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}
.navegacion li:hover .submenu_inicio, .navegacion li:hover .submenu{
    visibility: visible;
    opacity: 1;
}

#logo{
    width: 100px;
    height: 50px;
    object-fit: cover;
}