.marco_principal{
    width: 90%;
    max-width: 2000px;
    margin:auto;
    text-align: center;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
}
.marco_principal nav, .contenido{
    width: 100%;
}
.contenido{
    display: flex;
    box-sizing: border-box;
}
#menu_semanal img{
    width: 300px;;
    height: 300px;;
    border-radius: 50%;
}
#menu_semanal{
    padding: 1%;
    margin: 0.5%;
    width: 100%;
    border-style: solid; 
    border-width: 3px;
    border-color:indianred; 
}
#menu_semanal > h1{
    font-size: 50px;
}
#menu_semanal > h3{
    font-size: 30px;
}
#Lunes:hover{
    transform: scale(150%);
    transition: .5s ease;
}
#Martes:hover{
    transform: scale(150%);
    transition: .5s ease;
}
#Miercoles:hover{
    transform: scale(150%);
    transition: .5s ease;
}
#Jueves:hover{
    transform: scale(150%);
    transition: .5s ease;
}
#Viernes:hover{
    transform: scale(150%);
    transition: .5s ease;
}
.imagen_plato{
    width: 70%;

}
#carta{
    margin: 1px;
    width: 100%;
    background-color:burlywood;    
}
#carta ul{
    list-style: none;
    display: flex;
}
ul li{
    margin: 0.5%;
    justify-content: space-around;
}
#carta .column{
    display:grid;
    white-space: wrap; 
    grid-template-columns: 1fr 2fr;   
}
#carta > h2{
    font-size: 100px;
    text-align: center;
}
#carta .column h2{
    font-size: 50px;
}
#carta > h4{
    font-size: 40px;
    text-align: center;
}
.imagen_plato img{
    width: 600px;
    height:400px;
    border-radius: 20%;
    margin-right: 1px;
    float: left;
    border-style: solid; 
    border-width: 3px;
    border-color: red; 
}

.column{
    display:inline;
    margin-bottom: 5%;
}
#carta .column >img{
    margin-right: 1px;
}

#carta .column > p{   
    width: 1500px;
    text-align: justify;
    margin: 10px;    
    padding-left: 220px;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    display:flexbox;  
    vertical-align:baseline; 
}

.column {
    position: relative;
    width: 50%;
}
  
.imagen {
    display: block;
    width: 100%;
    height: auto;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    width: 600px;
    height:auto;
    border-radius: 20%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}
  
.column:hover .overlay {
    opacity: 1;    
}
  
.texto {
    margin: 1px 1px 1px 1px;
    padding: 1%;
    color: white;
    font-size: 2vh;
    position:inherit;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align:center;
}